/* From Uiverse.io by LightAndy1 */
/* Spotify music card adapted for error page */

.card {
  position: relative;
  width: 260px;
  height: 130px;
  background: #151515;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  display: flex;
  gap: 10px;
}

.pfp {
  height: 40px;
  width: 40px;
  background-color: #d2d2d2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing {
  display: flex;
  gap: 1px;
  width: 30px;
  height: 20px;
  justify-content: center;
  align-items: flex-end;
}

.greenline {
  background-color: #1db954;
  width: 2px;
  height: 20px;
  transform-origin: bottom;
}

.line-1 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0.2s;
}

.line-2 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0.5s;
}

.line-3 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0.6s;
}

.line-4 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0s;
}

.line-5 {
  animation: playing 1s ease-in-out infinite;
  animation-delay: 0.4s;
}

@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }
  33% {
    transform: scaleY(0.6);
  }
  66% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(0.1);
  }
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-1 {
  color: white;
  font-size: 18px;
  font-weight: bolder;
  margin: 0;
  line-height: 1.2;
}

.title-2 {
  color: lightgrey;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.controls {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  position: relative;
  height: 30px;
  gap: 6px;
}

.controls svg {
  cursor: pointer;
  transition: 0.1s;
}

.controls svg:hover {
  color: #1db954;
}

.volume_button {
  position: relative;
}

.volume {
  opacity: 0;
  position: absolute;
  top: -20px;
  left: -10px;
  width: 50px;
  transition: 0.2s;
}

.volume .slider {
  height: 4px;
  background-color: #5e5e5e;
  width: 80%;
  border-radius: 2px;
  margin: 8px auto 0;
}

.volume .green {
  background-color: #1db954;
  height: 100%;
  width: 80%;
  border-radius: 3px;
}

.volume .circle {
  background-color: white;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  position: absolute;
  right: 20%;
  top: 60%;
}

.volume_button:hover ~ .volume {
  opacity: 1;
}

.air {
  width: 20px;
}

.time {
  width: 90%;
  background-color: #5e5e5e;
  height: 6px;
  border-radius: 3px;
  position: relative;
  margin: 6px 0 2px;
}

.elapsed {
  width: 42%;
  background-color: #1db954;
  height: 100%;
  border-radius: 3px;
}

.timetext {
  color: white;
  font-size: 8px;
  position: absolute;
}

.time_now {
  left: 15px;
  bottom: 8px;
}

.time_full {
  right: 14px;
  bottom: 8px;
}
